.row {
    margin-bottom: 15px;
}

body {
    font-family: 'Iceland', cursive;
    font-weight: 500;
    background-color: #292929;
}

.title {
    color: #64E9EE;
}

thead {
    color: #64E9EE;
}


.card {
    background-color: #292929;
    color: #D0CD94;
    border: none;
}

.card-header {
    background-color: #3C787E;
    border-radius: 10px;
    color: #F4F4FC;
    font-weight: 800;
}

.form-control {
    background-color: #292929;
    color: white;
}

.form-control:focus {
    background-color: #292929;
    color: white;
    border-color: #3C787E;
    box-shadow: 0 1px 1px #3C787E inset, 0 0 8px #3C787E;
}

#submit {
    background-color: #3C787E;
    border: #292929;
    color: #F4F4FC;
}

#submit:focus {
    background-color: #292929;
    color: #F2ACBD;
    border-color: #3C787E;
    box-shadow: 0 1px 1px #3C787E inset, 0 0 8px #3C787E;
}